span.close_icon {
    color: red;
}

span.close_icon {
    color: red;
    position: absolute;
    left: 43%;
    top: 30%;
    opacity: 0;
}
.multi_images_main {
    display: flex;
    margin-bottom: 20px;
}
.image_div {
    position: relative;
    padding: 3px;
}
.image_div.col-lg-2:hover .close_icon {
    opacity: 1 !important;
}

.hide{
    display: none;
}

/*Calendar Css*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.calendar .calendar-header {
    background-color: #CC251F;
    color: white;
    border: 0;
}

.calendar .calendar-header .year-title:hover,
.calendar .calendar-header .prev:hover,
.calendar .calendar-header .next:hover{
    background: rgba(255, 255, 255, 0.2);
}

.calendar .calendar-header .year-neighbor {
    color: inherit;
    opacity: 0.7;
}

.calendar .calendar-header .year-neighbor2 {
    color: inherit;
    opacity: 0.4;
}

.calendar .month-container {
    height: 210px;
}

.calendar table.month {
    height: 100%;
}

.calendar table.month .month-title {
    background-color: #CC251F;
    color: white;
    padding: 5px;
}

.calendar table.month .day-header {
    padding-top: 8px;
    border-bottom: 2px solid #CC251F;
}

.calendar table.month td.day .day-content {
    padding: 5px 8px;
}

.calendar table.month td {
    border: 1px solid #ddd !important;
}
td.day.disabled {
    background: #7e1c0a;
    color: white !important;
}
td.day:not(.disabled) {
    background: #b1bd7d;
}


.custom-view .mbsc-segmented .mbsc-icon {
    font-size: 20px;
}



.rescalendar_day_cells .dia_semana {
    display: none;
}
.rescalendar_day_cells .mes {
    display: none;
}

div#my_calendar {
    margin: 0px !important;
    position: relative;
}
#my_calendar button.move_to_today {
    display: none;
}

#my_calendar button.move_to_next_month {
    display: none;
}
button.move_to_last_month {
    display: none;
}
.rescalendar {

    overflow: hidden;
    margin-top: 23px;

}
.move_to_tomorrow {
    position: absolute;
    right: 0px;
    top: 2px;
    background-color: #f39c12;
    border-color: #e08e0b;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
}
button.move_to_yesterday {
    position: absolute;
    left: 0px;
    top: 2px;
    background-color: #f39c12;
    border-color: #e08e0b;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
}
input.refDate {
    border: none;
    background: transparent;
    position: absolute;
    right: 50%;
    bottom: 0%;
}


.rescalendar_day_cells td.today {
    background: none;
    color: #1d8df1;
}
.rescalendar_day_cells td.disabledDay {
    color: #aaa;
    background: #762b2b;
    pointer-events: none;
}

.rescalendar_day_cells td:not(.disabledDay) {
    background: #b1bd7d;
}
.rescalendar_day_cells td:hover {
    background: black;
    cursor: pointer;
    color: white;
}
.rescalendar_day_cells_hover {
    background: black !important;
    cursor: pointer;
    color: white;
}